@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

:root {

    --clr-primary: #000;
    --clr-secondary: #f5f4f4;
    --clr-terciary: #191970;

    --clr-text: rgba(0, 0, 0, .5);
    --clr-text-dark: rgb(128, 126, 126);
    --clr-text-darker: rgba(0, 0, 0, .7);
    --clr-text-opaque: #a9a9a9;

    --clr-highlight: #800080;
    --clr-highlight-dark: #41115F;

}

body {

    font-family: 'Poppins', sans-serif;

}

header {

    background-color: var(--clr-primary);
    
}

main .container {

    width: 80%;

    margin: 0 auto;
   
}

header .container {

    display: flex;
    align-items: center;

    width: 80%;

    margin: 0 auto;

}

header img {

    padding: 1rem 0;
    
}

header h1 {

    margin: 0 auto;

    font-size: 36px;
    color: var(--clr-secondary);

}

/* Main */

main {

    padding: 5rem 0;

}

main h1 {

    margin-bottom: 40px;

    font-size: 28px;
    color: var(--clr-primary);
}


fieldset {

    border: none;

}

fieldset legend {

    font-size: 18px;
    font-weight: 700;
    color: var(--clr-primary);
    
}

fieldset .required {

    font-size: 12px;
    
}

span {

    color: var(--clr-terciary);

}

form label {

    margin-bottom: 5px;

    font-size: 16px;
    font-weight: 500;
    color: var(--clr-terciary);
    
}

form .content {

    display: flex;

    padding: 20px 0;

}

form .content input {

    padding-left: 10px;

    outline: none;
    
    line-height: 2;
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-text-darker);

    border: 1.5px solid rgb(168, 167, 167);
    border-radius: 5px;

}

form .content input:focus {

    border: 1.5px solid var(--clr-highlight);

}


form .content .select label {

    margin-bottom: 10px;

}

form .content select {

    padding: 5px;

    outline: none;

    font-size: 14px;
    font-weight: 500;
    color: var(--clr-text-darker);

}

form .content .label.type {

    display: inline;

}   

form .content .label.type p {

    margin-bottom: 10px;

    font-weight: 500;
    color:var(--clr-terciary);

}   

form .content .label.type label {

    margin: 0 10px 0 5px;

    font-size: 14px;
    color: var(--clr-text-darker);
    
}

form .content .phone input[type=number]::-webkit-inner-spin-button { 

    appearance: none;
    
}

form .content textarea {

    outline: none;

    padding: 5px 0 5px 10px;

    border: 1px solid var(--terciaryColor);
    border-radius: 5px;

    font-size: 14px;
    font-weight: 400;
    color: var(--clr-text-darker);

    resize: none;

}

form .content.instructions p {

    margin-bottom: 10px;

    font-weight: 500;
    color:var(--clr-terciary);

}   

form .content.instructions .payment label {

    display: inline;

    font-size: 14px;
    color: var(--clr-terciary);
    
    
}

form .content .label {

    display: flex;
    flex-direction: column;

    width: 100%;

    margin-right: 40px;
    
}

form .content.button {

    display: flex;
    justify-content: flex-end;

    margin-top: 100px;
    margin-right: 25px;
    
}


form .content.button button {

    margin-right: 20px;
    padding: 15px;

    font-size: 18px;
    color:var(--clr-secondary);

    outline: none;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;
   
}

form .content.button button[type="reset"] {

    color: var(--clr-primary);

    border: 1px solid var(--clr-primary);

    background-color: var(--clr-secondary);
}

form .content.button button[type="submit"] {

    padding: 0px 50px;
    
    background-color:var(--clr-terciary);
  
}

form .content.button button[type="submit"]:hover {

    background-color:var(--clr-highlight);
    
}